.partie1 {
    background-image: url('/assets/image/baniere/BaniereApropos.png');
    position: relative;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}


.h1 {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    padding-left: 7rem;
    width: 42rem;
}

.logoArtisant {
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.partie2 {
    width: 80%;
    margin-bottom: 7rem;
}

.partie2Haute {
    margin-bottom: 5rem;
}

.logo {
    width: 10rem;
}

.h2 {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;

}

.partie2Text {
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.partie2Gauche {
    width: 50%;
}

.partie2Droite {
    width: 50%;
}

.partie3 {
    background-color: #DFDAC4;
     padding-bottom: 10rem;
}

.partie3Marge {
    width: 80%;
}

.partie3logoArtisant {
    width: 120px;
    height: auto;
}

.h3 {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    width: 45rem;
    margin-bottom: 7rem;
}

.partie3Image {
    width: 500px;
    height: 750px;
}

.partie3Haute {
    margin-bottom: 7rem;
}

.partie3HauteGauche {
    width: 50%;
}

.partie3HauteDroite {
    width: 50%;
}

.partie3BasseGauche {
    width: 50%;
}

.partie3BasseDroite {
    width: 50%;
}

.h4 {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    width: 28rem;
}

.partie3Text {
    font-size: 21px;
}