.strip-partie2 {
    width: 50%;
}


.strip-partie1__titre {
    font-size: 60px;
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
}

.strip-partie2__basse {
    font-size: 20px;
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
}

.strip-partie2__cmd {
    font-size: 30px;
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
}

.btn {
    font-size: 18px;
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
}
