.background {
    background-color: #DFDAC4;
}

.Logo {
    width: 150px;
    height: 150px;
}

i {
    font-size: 1.5rem;
}

h1 {
    font-family: "GFS Didot", serif;
    font-weight: bold;
    font-style: normal;
    margin: 0px;
    font-size: 20px;
}

.para {
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    margin-bottom: 0.2rem;
}

.footerMargin {
    width: 80%;
}

.num {
    text-decoration-line: underline;
    text-decoration-color: #571065;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}