.background {
    background-color: #DFDAC4;
}

.Logo {
    width: 150px;
    height: 150px;
}

i {
    font-size: 1.5rem;
}

h1 {
    font-family: "GFS Didot", serif;
    font-weight: bold;
    font-style: normal;
    margin: 0px;
    font-size: 20px;
}

p {
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    font-size: 20px;
    margin-bottom: 0.2rem;
}

.footerMargin {
    width: 80%;
}