.AbhayaLibre {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
}

.baniere {
    background-image: url('/assets/image/baniere/baniere-2.png');
    position: relative;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}

.baniere img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 150px;
    /* ajuste selon la taille souhaitée */
    height: auto;
    /* conserve les proportions */
}

.textBouton {
    width: 50%;
    height: 15rem;
    padding-left: 7rem;
}

.titre {
    font-size: 60PX;
}

.btnBeige {
    font-family: "Abhaya Libre", serif;
    font-weight: bold;
    font-style: normal;
    border: 2px solid #571065;
    background-color: #DFDAC4;
    font-size: 1.3rem;
    color: #571065
}

.titreH2 {
    font-size: 65PX;
}

.mx {
    width: 900px;
    padding-bottom: 100px;
}

.Hlogo {
    width: 10rem;
}

.boite {
    width: 85%;
}

/* Bloc principal cliquable */
.categorie {
    position: relative;
    width: 300px;
    height: 400px;
    display: block;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Zoom léger au survol */
.categorie:hover {
    transform: scale(1.02);
}

/* VOILE SOMBRE AU SURVOL (pour lisibilité) */
.categorie::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.746);
    /* voile blanc */
    opacity: 0;
    transition: 0.3s ease;
    z-index: 1;
}

.categorie:hover::before {
    opacity: 1;
}

/* TITRE */
.categorie .titre {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-family: "Abhaya Libre", serif;
    font-weight: 300;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    z-index: 2;
}

/* DESCRIPTION */
.categorie .description {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(64, 64, 64);
    font-size: 0.9rem;
    width: 80%;
    max-height: 40%;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    z-index: 2;
}

/* Apparition texte au hover */
.categorie:hover .titre,
.categorie:hover .description {
    opacity: 1;
}

/* ------------------------------
   BACKGROUNDS DES CATÉGORIES
--------------------------------*/

.pains {
    background-image: url(/assets/image/C&C/pain-4.png);
}

.viennoiseries {
    background-image: url(/assets/image/viennoiserie.png);
}

.dejeuner {
    background-image: url(/assets/image/baguetteApero-2.jpg);
}

.patisseries {
    background-image: url(/assets/image/assietteTarte.jpg);
}

.partie3Marge {
    width: 80%;
}

.Hpartie2 {
    padding-bottom: 5rem;
}

.partie3 {
    background-color: #DFDAC4;
}

.partie3-gauche {
    width: 50%;
}

.partie3-droite {
    width: 50%;
}

.partie3-droiteImg {
    width: 500px;
    height: 750px;
}



.partie3Description {
    font-size: 25px;
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    width: 85%;
}

.Hpartie4 {
    width: 80%;
    padding-bottom: 5rem;
}

.textGauche {
    width: 50%;
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.textDroite {
    width: 50%;
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.partie4Logo {
    width: 150px;
    height: 150px;
}

.partie5 {
    background: linear-gradient(0deg, #DFDAC4 90%, #ffffff 90%);
    height: 1700px;
}

.partie5Marge {
    position: relative;
    width: 80%;
    height: 1700px;
}

.partie5Basse {
    height: 900px;
}

.imageCommande {
    width: 500px;
    height: 600px;
}

.partie5BasseGauche {
    width: 50%;
}

.partie5BasseDroite {
    width: 50%;
}

.titreh4 {
    font-size: 65px;
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
    font-style: normal;
}

.boiteImageText {
    width: 515px;
}

.jeCommande {
    position: absolute;
    top: 17%;
    left: 71%;
    transform: translate(-0%, -50%);
}

.btnNoire {
    font-family: "Abhaya Libre", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    border: black solid 2px;
    background-color: #DFDAC4;
    color: black;
}

.partie6Marge {
    width: 80%;
}