/* FONTS */

.abhayaLibre {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
}

.abhaya-libre-bold {
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    font-style: normal;
}

/* PAGE HOME */
.home-partie1 {
    background-image: url('/assets/image/baniere/baniere-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    height: 60vh;
}

.home-partie1__logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 120px;
    height: auto;
}

.home-partie1__baniere {
    padding-left: 10rem;
}

.home-partie1__titre {
    font-size: 65px;
    margin-bottom: 2rem;
    width: 40rem;
}

.home-partie1__btn {
    font-family: "Abhaya Libre", serif;
    font-weight: bold;
    font-style: normal;
    border: 2px solid #571065;
    background-color: #DFDAC4;
    font-size: 1.3rem;
    color: #571065;
}

/* Partie 2 */

.home-partie2 {
    margin-bottom: 7rem;
}

.home-partie2__haute {
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.home-partie2__titre {
    font-size: 65px;
}

.home-partie2__logo {
    width: 10rem;
}

.home-partie2__categories {
    width: 85%;
}

/* Bloc principal cliquable */
.home-partie2__categorie {
    position: relative;
    width: 300px;
    height: 400px;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home-partie2__categorie:hover {
    transform: scale(1.02);
}

.home-partie2__categorie::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.746);
    opacity: 0;
    transition: 0.3s ease;
    z-index: 1;
}

.home-partie2__categorie:hover::before {
    opacity: 1;
}

.home-partie2__categorie-titre {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-family: "Abhaya Libre", serif;
    font-weight: 300;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    z-index: 2;
}

.home-partie2__categorie-description {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(64, 64, 64);
    font-size: 0.9rem;
    width: 80%;
    max-height: 40%;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    z-index: 2;
}

.home-partie2__categorie:hover .home-partie2__categorie-titre,
.home-partie2__categorie:hover .home-partie2__categorie-description {
    opacity: 1;
}

/* Modificateurs pour les backgrounds */
.home-partie2__categorie--pains {
    background-image: url(/assets/image/C&C/presentationPain.jpg);
}

.home-partie2__categorie--viennoiseries {
    background-image: url(/assets/image/viennoiserie.png);
}

.home-partie2__categorie--dejeuner {
    background-image: url(/assets/image/baguetteApero-2.jpg);
}

.home-partie2__categorie--patisseries {
    background-image: url(/assets/image/assietteTarte.jpg);
}

/* Partie 3 */
.home-partie3 {
    background-color: #DFDAC4;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.home-partie3__marge {
    width: 80%;
}

.home-partie3__gauche {
    width: 50%;
}

.home-partie3__droite {
    width: 50%;
}

.home-partie3__titre {
    font-size: 60px;
}

.home-partie3__img {
    width: 500px;
    height: 750px;
}

.home-partie3__description {
    font-size: 25px;
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    width: 85%;
}

/* Partie 4 */
.home-partie4 {
    width: 80%;
    padding-bottom: 5rem;
}



.home-partie4__textGauche,
.home-partie4__textDroite {
    width: 50%;
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.home-partie4__logo {
    width: 150px;
    height: 150px;
}

/* Partie 5 */
.home-partie5 {
    background: linear-gradient(0deg, #DFDAC4 90%, #ffffff 90%);
    height: 1700px;
    width: 100vw;
}

.home-partie5__marge {
    position: relative;
    width: 80%;
    height: 1700px;
}

.home-partie5__centrale {
    height: 850px;
}

.home-partie5__basse {
    margin-top: 5rem;
}

.home-partie5__image {
    width: 500px;
    height: 600px;
}

.home-partie5__gauche,
.home-partie5__droite {
    width: 50%;
}

.home-partie5__titre {
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 65px;
}

.home-partie5__decalage {
    width: 515px;
}

.home-partie5__commande {
    position: absolute;
    top: 17%;
    left: 71%;
    transform: translate(-0%, -50%);
}

.home-partie5__btn {
    font-family: "Abhaya Libre", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
    border: black solid 2px;
    background-color: #DFDAC4;
    color: black;
}

/* Partie 6 */

.home-partie6 {
    width: 80%;
    margin-bottom: 7rem;
}

.home-partie6__haute {
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.home-partie6__basse {
    margin-top: auto;
}

.home-partie6__logo {
    width: 10rem;
}

.home-partie6__titre {
    font-size: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
    background-color: #DFDAC4;
    height: 35rem;
}

.card-img-top {
    background-color: #DFDAC4;
}

.card-body {
    background-color: #DFDAC4;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 25px;
}

.home-partie6__btn {
    font-family: "Abhaya Libre", serif;
    font-weight: bold;
    font-style: normal;
    background-color: #571065;
    font-size: 1.3rem;
    color: #DFDAC4;
}