.background {
    background-color: #DFDAC4;
}

.color {
    color: #571065;
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

.mon-lien {
    color: #571065;
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;     /* couleur que tu veux */ /* enlève le soulignement */
}

img {
    width: 15rem;
}

/* Si l'écran > 700px */
@media (max-width: 701px) {
    .navbar {
        display: flex;
        align-items: flex-start; /* alignement en haut */
    }
}