.partie1 {
    width: 100%;
}

.partie1Gauche {
    width: 50%;
}

.partie1Droite {
    width: 50%;
}

.logoArtisan {
    width: 120px;
    height: 120px;
}

.h1 {
    font-family: "Abhaya Libre", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 65px;
    max-width: 40rem;
}

.bouton {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
    border: 2px solid #571065;
    background-color: #DFDAC4;
    font-size: 1.3rem;
    color: #571065
}

.partie2 {
    width: 80%;
    margin-bottom: 7rem;
}

.logo {
    width: 10rem;
}

h2 {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}

.partie3Margee {
    width: 80%;
}

/* Font */
.AbhayaLibre {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
}

/* Bloc produit unifié */
.partieProduit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 4rem 0;
    /* espace entre les produits */
}

.partieProduit.reverse {
    flex-direction: row-reverse;
}

/* Image du produit */
.partieProduit .imageProduitContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}

.partieProduit .imageProduitContainer img {
    width: 600px;
    height: 400px;
}

/* Texte du produit */
.partieProduit .descriptionProduit {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.partieProduit .descriptionProduit h3 {
    font-family: "Abhaya Libre", serif;
    font-size: 50px;
    margin-bottom: 1.5rem;
}

.partieProduit .descriptionProduit h4 {
    font-family: "Abhaya Libre", serif;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.partieProduit .descriptionProduit p {
    font-size: 16px;
    line-height: 1.6;
    color: #404040;
}